{# src/Draughts/DraughtsBundle/Resources/views/Page/form.html.twig #}
{% extends 'DraughtsBundle:Page:index.html.twig' %}

{% block sidebar %}
<div id="loginWrapper">
	<div id="loginBoard">
		<h2>Välkommen {{player1}} och {{player2}}</h2>
		<p><span style="font-size:2em; color: blue;">{{player1}}</span><br/> har vita pjäser<br/></p>
		<p><span style="font-size:2em; color: red;">{{player2}}</span><br/> har svarta pjäser<br/></p>
		Felmeddelande: <span id="errorMsg"> </span><br/>
		</div>
		<button id="startBtn">Start</button>
</div>
{% endblock %}
  
 {% block javascripts %}
 
 			<script src="{{ asset('jquery-1.7.min.js') }}" type="text/javascript"></script>			
            <script src="{{ asset('game.js') }}" type="text/javascript"></script>
  {% endblock %}
